<div class="top-banner">
  <div class="logo">
    <img src="/static/images/logo.jpg" height="105">
  </div>
</div>

<div class="navbar">
  <div class="navbar-inner navbar-full-width">
    <div class="container navbar-container">
      <ul class="nav">
        <li class="active"><a href="/">硕士研究生报名</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/doctorapply">博士研究生报名</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/infoquery">查询我的申请信息</a></li>
      </ul>
    </div>
  </div>
</div>