{% extends "layout.htm" %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/bootstrap/bootstrap-fileupload.min.css" type="text/css" />
{% end %}

{% block body %}
{% include "header.htm" %}
<div class="container">
  <div class="row">
    <div class="span8 well well-white">
      <form action="/infoquery" class="form-horizontal" method="post" enctype="multipart/form-data" id="apply">
        {% raw xsrf_form_html() %}
        <fieldset>
          <legend>查看我申请的信息</legend>
        </fieldset>
        <div class="form-fields">
          <!-- 姓名 -->
          <div class="control-group cg-name">
            <label class="control-label" for="name">姓名</label>
            <div class="controls">
              <input type="text" name="name" id="name" placeholder="姓名">
            </div>
          </div>
          <!-- 身份证 -->
          <div class="control-group cg-id_number">
            <label class="control-label" for="id_number">身份证</label>
            <div class="controls">
              <input type="text" name="id_number" id="id_number" placeholder="身份证">
            </div>
          </div>
          <!-- 申请的项目 -->
          <div class="control-group cg-job">
            <label class="control-label" for="job">申请职位</label>
            <div class="controls">
              <label class="radio inline">
                <input type="radio" name="job" id="job" value="1" />硕士研究生
              </label>
              <label class="radio inline">
                <input type="radio" name="job" id="job" value="2" />博士研究生
              </label>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-large btn-primary">查询</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="span3 well well-white">
      <p>在线报名说明:</p>
    </div>
  </div>
</div>
{% end %}

{% block jsblock %}
<script src="/static/bootstrap/bootstrap-fileupload.min.js"></script>
<script type="text/javascript">
$(function(){
$("form#apply input[type=text]").keydown(function(){
    var ename = $(this).prop("name");
    var e = $("div.cg-"+ename);
    if (e.hasClass("error")) {
        e.removeClass("error");
    }
});
/* 验证输入框是否为空 */
function validateInputEmpty(selector) {
    var e = $("input#"+selector);
    if (!$.trim(e.val())) {
        $("div.cg-"+e.prop("name")).addClass("error");
        $("input#"+e.prop("name")).focus();
        return false;
    }
    return true;
}
$("input#job").click(function(){
    $("div.cg-job").removeClass("error");
});
$("form#apply").submit(function(){
    var elementsValidateEmpty = ["name", "id_number"];
    for (var e in elementsValidateEmpty) {
        if (!validateInputEmpty(elementsValidateEmpty[e])) {
            return false;
        }
    }
    // 验证身份证是否正确
    var idNumber = $("input#id_number").val();
    if (!/\d{17}[X\d]/.test(idNumber)) {
        $("div.cg-id_number").addClass("error");
        return false;
    }
    // 验证性别是否选择
    if (!$("input#job:checked").val()) {
        $("div.cg-job").addClass("error");
        return false;
    }
});
});
</script>
{% end %}
