%def bodyblock():

%include template/header.htm nav=nav
<div class="container">
  <div class="row">
    <div class="span8 well well-white" style="margin-left:0px;">
      <form action="/infoquery" class="form-horizontal" method="post" id="apply">
        <input type="hidden" name="query" value="1" />
        <fieldset>
          <legend>查看我申请的信息</legend>
        </fieldset>
        <div class="form-fields">
          <!-- 姓名 -->
          <div class="control-group cg-name">
            <label class="control-label" for="name">姓名</label>
            <div class="controls">
              <input type="text" name="name" id="name" placeholder="姓名">
            </div>
            <div class="controls">
              <span class="help-inline">请填写姓名</span>
            </div>
          </div>
          <!-- 身份证 -->
          <div class="control-group cg-id_number">
            <label class="control-label" for="id_number">身份证</label>
            <div class="controls">
              <input type="text" name="id_number" id="id_number" placeholder="身份证">
            </div>
            <div class="controls">
              <span class="help-inline">身份证不能为空</span>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-large btn-primary">查询</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="span3 well well-white">
      <p>在线报名说明:</p>
    </div>
  </div>
</div>

<script src="/static/bootstrap/bootstrap-fileupload.min.js"></script>
<script type="text/javascript">
$(function(){
$("form#apply input[type=text]").keydown(function(){
    var ename = $(this).prop("name");
    var e = $("div.cg-"+ename);
    if (e.hasClass("error")) {
        e.removeClass("error");
    }
});    
// 表单验证
$("form#apply input[type=text]").keydown(function(){
    var ename = $(this).prop("name");
    $("div.cg-"+ename+" .controls .help-inline").hide();
});
/* 验证输入框是否为空 */
function validateInputEmpty(selector) {
    var e = $("input#"+selector);
    var ename = e.prop("name");
    if (!$.trim(e.val())) {
        $("div.cg-"+ename+" .help-inline").show();
        $("input#"+e.prop("name")).focus();
        return false;
    }
    return true;
}
$("form#apply").submit(function(){
    var elementsValidateEmpty = ["name", "id_number"];
    for (var e in elementsValidateEmpty) {
        if (!validateInputEmpty(elementsValidateEmpty[e])) {
            return false;
        }
    }
    // 验证身份证是否正确
    var idNumber = $("input#id_number").val();
    if (!/\d{17}[X\d]/.test(idNumber)) {
        $("div.cg-id_number").addClass("error");
        return false;
    }
});
});
</script>
%end

%rebase template/layout.htm bodyblock=bodyblock