<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}在线报名{% end %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
    {% block stylesheet %}{% end %}
    <link rel="stylesheet" href="/static/css/global.css" type="text/css" />
    <!--[if IE 6]>
    <link href="/static/Bootstrap-IE6/ie6.min.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body>
    {% block body %}{% end %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/static/js/common.js"></script>
    {% block jsblock %}{% end %}
    <script>
    $(function(){if($.support.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class*="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class*=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}})
    </script>
  </body>
</html>
