%def bodyblock():

%include template/header.htm nav=nav
<link rel="stylesheet" href="/static/jquery-ui-1.10.2.custom/css/cupertino/jquery-ui-1.10.2.custom.min.css" type="text/css" media="screen" />
<div class="container">
  <div class="row">
    <div class="span8 well well-white" style="margin-left:0px;">
      <h3>服务协议</h3>
      <div id="protocol" class="protocol">
        <p class="protocol-content">
        1.信息的录入<br>
不得填报任何违反有关法律规定信息；<br>
不得填报任何不完整、虚假的信息；<br>
用户填报的内容和提供的证件须完全真实有效，否则，用户承担由此产生的一切后果和相关责任<br>
<br>
2.信息的使用<br>
本网站提供的其它信息，仅与其相应内容有关的目的而被使用；<br>
不得将任何本系统的信息用作任何商业目的。<br>
<br>
3.信息的公开<br>
在本网站所登陆的任何信息，均有可能被任何本网站的访问者浏览，也可能被错误使用。本网站对此将不予承担任何责任。<br>
<br>
4.信息的准确性<br>
任何在本网站发布的信息，均必须符合合法、准确、及时、完整的原则。但本网站将不能保证所有由第三方提供的信息，或本网站自行采集的信息完全准确。使用者了解，对这些信息的使用，需要经过进一步核实。本网站对访问者未经自行核实误用本网站信息造成的任何损失不予承担任何责任。<br>
<br>
5.信息更改与删除<br>
除了信息的发布者外，任何访问者不得更改或删除他人发布的任何信息。本网站有权根据其判断保留修改或删除任何不适信息之权利。<br>
<br>
6.版权、商标权<br>
本网站的图形、图像、文字及其程序等均属内蒙古工业大学人事处之版权，受商标法及相关知识产权法律保护，未经内蒙古工业大学人事处用户书面许可，任何人不得下载、复制、再使用。在本网发布信息之商标，归其相应的商标所有权人，受商标法保护。<br>
<br>
7.自责<br>
所有使用本网站的用户，对使用本网站信息和在本网站发布信息的被使用，承担完全责任。本网站对任何因使用本网站而产生的第三方之间的纠纷，不负任何责任。<br>
<br>
8.服务终止本网站有权在预先通知或不予通知的情况下终止任何免费服务。<br>
<br>
9.因正常的系统维护、系统升级，或者网络拥塞而导致网站不能访问，本网站不承担任何责任。<br>
        </p>
        <p>
          <label for="agree">
            <input type="checkbox" name="agree" id="agree" value="1" />我已认真阅读并同意遵守以上用户服务协议
          </label>
        </p>
        <p>
          <input type="button" name="agree-btn" id="agree-btn" value="下一步" disabled="disabled" />
          <input type="button" name="cancel-btn" id="cancel-btn" value="退出" />
        </p>
      </div>
    </div>
    <div class="span3 well well-white">
      <p>报名流程</p>
      <ol class="application-step">
        <li class="active">阅读招聘公告</li>
        <li>选择应聘岗位</li>
        <li>填写个人信息</li>
        <li>查询我的报名信息</li>
        <!-- <li>修改密码</li> -->
        <li>退出系统</li>
      </ol>
    </div>
  </div>
</div>

<div class="footer"></div>
<script type="text/javascript">
$(function(){
    $("#agree").click(function(){
		if ($(this).prop("checked")) {
			$("#agree-btn").removeAttr("disabled");
		} else {
			$("#agree-btn").attr("disabled", "disabled");
		}
	});
    $("#agree-btn").click(function(){
        if ($('#agree').prop("checked")) {
            window.location.href = "/masterapply"
        } else {
            alert('请先同意以上协议，同意请勾选"我同意以上协议"');
        }
    });
});
</script>
%end

%rebase template/layout.htm bodyblock=bodyblock
