%def bodyblock():
<div class="content-container">
  <div class="well">
    <form method="post" action="/admin/passwd" class="form-horizontal" id="passwd_form">
      <fieldset>
        <legend>修改密码</legend>
      </fieldset>
      <div class="message control-group">
        <div class="control-group cg-old_password">
          <div class="controls">
            {{get("message", "")}}
          </div>
        </div>
      </div>
      <!-- 旧密码 -->
      <div class="control-group cg-old_password">
        <label class="control-label" for="old_password">旧密码 <font color="red">*</font></label>
        <div class="controls">
          <input type="password" name="old_password" id="old_password" placeholder="旧密码" />
        </div>
        <div class="controls">
          <span class="help-inline">请填写旧密码</span>
        </div>
      </div>
      <!-- 新密码 -->
      <div class="control-group cg-password">
        <label class="control-label" for="password">新密码 <font color="red">*</font></label>
        <div class="controls">
          <input type="password" name="password" id="password" placeholder="新密码" />
        </div>
        <div class="controls">
          <span class="help-inline">请填写新密码</span>
        </div>
      </div>
      <!-- 确认密码 -->
      <div class="control-group cg-confirm_password">
        <label class="control-label" for="confirm_password">确认新密码 <font color="red">*</font></label>
        <div class="controls">
          <input type="password" name="confirm_password" id="confirm_password" placeholder="确认新密码" />
        </div>
        <div class="controls">
          <span class="help-inline">请填再次确认密码</span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="submit" name="submit" value="修改密码" />
          <input type="button" name="cancel" value="取消" />
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(function(){
    var e = null;
    var vfields = ["old_password", "password", "confirm_password"]
    for (var i in vfields) {
        $('#'+vfields[i]).keydown(function(){
            var id = $(this).prop("id");
            $('.cg-'+id+' .help-inline').hide();
        });
    }
    $("form").submit(function() {
        for (var i in vfields) {
            e = $("#"+vfields[i]);
            if (!$.trim(e.val())) {
                e.focus();
                $(".cg-"+vfields[i]+" .help-inline").show();
                return false;
            }
        }
        var old = $.trim($("#old_password").val());
        var pwd = $.trim($("#password").val());
        var newp = $.trim($("#confirm_password").val());
        if (old==pwd) {
            alert("新密码不能跟旧密码一样。");
            return false;
        }
        if (pwd!=newp) {
            alert("新密码与确认密码不一致。");
            return false;
        }
    });
    $("input[name=cancel]").click(function(){
        window.location.href = "/admin"
    });
});
</script>
%end

%rebase template/admin/layout.htm bodyblock=bodyblock
