<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Administrator{% end %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/admin.css" type="text/css" />
  </head>
  <body>
    {% include "nav.htm" %}
    {% block body %}{% end %}
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/static/js/common.js"></script>
  </body>
</html>
