{% extends "layout.htm" %}

{% block body %}
<div class="container">
  <div class="login-form-content">
    <form action="/admin/login" class="form-horizontal" method="post">
      {% raw xsrf_form_html() %}
      <fieldset>
        <legend>管理员登录</legend>
        <div class="control-group">
          <label class="control-label" for="username">用户名</label>
          <div class="controls">
            <input type="text" name="username" id="username" placeholder="用户名" ／>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">密码</label>
          <div class="controls">
            <input type="password" name="password" id="password" placeholder="密码">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">登录</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% end %}
