{% extends 'layout.html' %}

{% load staticfiles %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'jquery-ui/css/cupertino/jquery-ui-1.10.2.custom.min.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<!-- {{ peopleForm.errors }} -->
<form action="/{% if 'edit' == operate %}update{% else %}apply{% endif %}/" method="post">
{% csrf_token %}
{{ peopleForm.non_field_errors }}

<p><label>岗位：</label><span>{{ peopleForm.job }}</span>
{{ peopleForm.job.errors }}</p>
<p><label>姓名：</label><span>{{ peopleForm.name }}</span>
{{ peopleForm.name.errors }}</p>
<p><label>性别：</label><span>{{ peopleForm.gender }}</span>
{{ peopleForm.gender.errors }}</p>
<p><label>民族：</label><span>{{ peopleForm.nation }}</span>
{{ peopleForm.nation.errors }}</p>
<p><label>出生年月：</label><span>{{ peopleForm.birthday }}</span>
{{ peopleForm.birthday.errors }}</p>

<p><label>身份证号：</label>
<span>{{ peopleForm.id_number }}</span>
{{ peopleForm.id_number.errors }}</p>

<p><label>政治面貌：</label><span>{{ peopleForm.political_status }}</span>
{{ peopleForm.political_status.errors }}</p>
<p><label>婚姻状况：</label><span>{{ peopleForm.marital_status }}</span>
{{ peopleForm.marital_status.errors }}</p>
<p>
  <label>籍贯：</label>
  <span id="hometown">
    <span>{{ peopleForm.hometown_prov }}</span>
    <span>{{ peopleForm.hometown_city }}</span>
  </span>
{{ peopleForm.hometown_prov.errors }}
</p>
<p>
  <label>户口所在地：</label>
  <span id="residence">
    <span>{{ peopleForm.residence_prov }}</span>
    <span>{{ peopleForm.residence_city }}</span>
  </span>
{{ peopleForm.residence_prov.errors }}
</p>
<p><label>电子邮件：</label><span>{{ peopleForm.email }}</span>
{{ peopleForm.email.errors }}</p>
<p><label>手机：</label><span>{{ peopleForm.phone }}</span>
{{ peopleForm.phone.errors }}</p>
<p><label>其他联系方式：</label><span>{{ peopleForm.other_contact }}</span></p>
<p><label>外语及水平：</label><span>{{ peopleForm.foreign_language_level }}</span>
{{ peopleForm.foreign_language_level.errors }}</p>
<p><label>参加工作时间：</label><span>{{ peopleForm.start_work_year }}{{ peopleForm.start_work_month }}</span>
{% if peopleForm.start_work_year.errors %}
{{ peopleForm.start_work_year.errors }}
{% else %}
{{ peopleForm.start_work_month.errors }}
{% endif %}
</p>

{% if 'edit' != operate %}
<p><label>查询密码：</label>
<span>{{ peopleForm.query_password }}</span>
{{ peopleForm.query_password.errors }}</p>
<p><label>确认查询密码：</label><span>{{ peopleForm.query_password2 }}</span>
{{ peopleForm.query_password2.errors }}</p>
{% endif %}

<p><label>取得资格——专业技术资格：</label><span>{{ peopleForm.technical_qualification }}</span>
{{ peopleForm.technical_qualification.errors }}</p>
<p><label>取得资格——执业资格：</label><span>{{ peopleForm.operation_qualification }}</span>
{{ peopleForm.operation_qualification.errors }}</p>
<p><label>取得资格——其他：</label><span>{{ peopleForm.other_qualification }}</span>
{{ peopleForm.other_qualification.errors }}</p>

<p><label>第一学历——起始时间：</label><span>{{ peopleForm.first_edu_start_year }} {{ peopleForm.first_edu_start_month }}</span>
{% if peopleForm.first_edu_start_year.errors %}
{{ peopleForm.first_edu_start_year.errors }}
{% else %}
{{ peopleForm.first_edu_start_month.errors }}
{% endif %}
</p>
<p><label>第一学历——结束时间：</label><span>{{ peopleForm.first_edu_end_year }}{{ peopleForm.first_edu_end_month }}</span>
{{ peopleForm.first_edu_end_year.errors }}</p>
<p><label>第一学历——学位：</label><span>{{ peopleForm.first_edu_degree }}</span>
{{ peopleForm.first_edu_degree.errors }}</p>
<p><label>第一学历——学历：</label><span>{{ peopleForm.first_edu_bkgrd }}</span>
{{ peopleForm.first_edu_bkgrd.errors }}</p>
<p><label>第一学历——毕业院校：</label><span>{{ peopleForm.first_edu_university }}</span>
{{ peopleForm.first_edu_university.errors }}</p>
<p><label>第一学历——所学专业：</label><span>{{ peopleForm.first_edu_major }}</span>
{{ peopleForm.first_edu_major.errors }}</p>

<p><label>最高学历——起始时间：</label><span>{{ peopleForm.high_edu_start_year }}{{ peopleForm.high_edu_start_month }}</span>
{% if peopleForm.high_edu_start_year.errors %}
{{ peopleForm.high_edu_start_year.errors }}
{% else %}
{{ peopleForm.high_edu_start_month.errors }}
{% endif %}
</p>
<p><label>最高学历——结束时间：</label><span>{{ peopleForm.high_edu_edu_year }}{{ peopleForm.high_edu_edu_month }}</span>
{{ peopleForm.high_edu_edu_year.errors }}</p>
<p><label>最高学历——学位：</label><span>{{ peopleForm.high_edu_degree }}</span>
{{ peopleForm.high_edu_degree.errors }}</p>
<p><label>最高学历——学历：</label><span>{{ peopleForm.high_edu_bkgrd }}</span>
{{ peopleForm.high_edu_bkgrd.errors }}</p>
<p><label>最高学历——毕业院校：</label><span>{{ peopleForm.high_edu_university }}</span>
{{ peopleForm.high_edu_university.errors }}</p>
<p><label>最高学历——所学专业：</label><span>{{ peopleForm.high_edu_major }}</span>
{{ peopleForm.high_edu_major.errors }}</p>

<p><label>其他学习经历——起始时间：</label><span>{{ peopleForm.other_edu_start_year }}{{ peopleForm.other_edu_start_month }}</span>
{{ peopleForm.other_edu_start_year.errors }}</p>
<p><label>其他学习经历——结束时间：</label><span>{{ peopleForm.other_edu_edu_year }}{{ peopleForm.other_edu_edu_month }}</span>
{{ peopleForm.other_edu_edu_year.errors }}</p>
<p><label>其他学习经历——学习单位：</label><span>{{ peopleForm.other_edu_unit }}</span>
{{ peopleForm.other_edu_unit.errors }}</p>
<p><label>其他学习经历——所学专业：</label><span>{{ peopleForm.other_edu_major }}</span>
{{ peopleForm.other_edu_major.errors }}</p>
<p><label>其他学习经历——学历：</label><span>{{ peopleForm.other_edu_bkgrd }}</span>
{{ peopleForm.other_edu_bkgrd.errors }}</p>
<p><label>其他学习经历——学位：</label><span>{{ peopleForm.other_edu_degree }}</span>
{{ peopleForm.other_edu_degree.errors }}</p>
<p><label>其他学习经历——学习形式：</label><span>{{ peopleForm.other_edu_type }}</span>
{{ peopleForm.other_edu_type.errors }}</p>
<p><label>是否蒙汉兼通：</label><span>{{ peopleForm.is_han_mongolia_both }}</span>
{{ peopleForm.is_han_mongolia_both.errors }}</p>
<p><label>是否服务基层项目人员：</label><span>{{ peopleForm.is_basic_attendant }}</span>
{{ peopleForm.is_basic_attendant.errors }}</p>
<p><label>个人特长及奖惩情况：</label><span>{{ peopleForm.special_skill }}</span>
{{ peopleForm.special_skill.errors }}</p>

<p><label>照片：</label><span>{{ peopleForm.avator }}</span>
{{ peopleForm.avator.errors }}</p>

<input type="submit" value="提交" name="submit" />
{% if 'edit' == operate %}
<a href="/myinfo">返回</a>
{% endif %}
</form>

{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'js/jquery.cityselect.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-ui/js/jquery-ui-1.10.2.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swfupload.js' %}"></script>
<script type="text/javascript">
$(function(){
    // 籍贯
    $("#id_hometown_city").html("<option value=''> -- </option>");
    $("#hometown").citySelect({  
        url:"/static/js/city.min.js",
        prov_selector:"#id_hometown_prov",
        city_selector:"#id_hometown_city",
        prov:"{{ peopleForm.hometown_prov.value }}", 
        city:"{{ peopleForm.hometown_city.value }}", 
        nodata:"none"
    });
    // 户口
    $("#id_residence_city").html("<option value=''> -- </option>");
    $("#residence").citySelect({  
        url:"/static/js/city.min.js",
        prov_selector:"#id_residence_prov",
        city_selector:"#id_residence_city",
        prov:"{{ peopleForm.residence_prov.value }}", 
        city:"{{ peopleForm.residence_city.value }}", 
        nodata:"none"
    });
    //出生年月
    var date = new Date();
    $("#id_birthday").datepicker({
        dateFormat:"yy-mm-dd", 
        maxDate:date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate(), 
        changeMonth: true,
        changeYear: true, 
        yearRange: "1800:"+date.getFullYear(), 
        defaultDate: 0});
    $("#id_first_edu_start_date").datepicker({
        dateFormat:"yy-mm-dd",
        maxDate:date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate(),
        changeMonth: true,
        changeYear: true, 
        yearRange: "1800:"+date.getFullYear(), 
        defaultDate: 0});
});
</script>
{% endblock %}
