<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>内蒙古工业大学2013年度公开招聘工作人员考试报考资格审查表</title>
<style>
table {border-collapse:collapse;}
table th {font-weight:bold;}
body {padding-left:15px;}
</style>
<body>
<p id="print-wrapper">
  <button id="print-btn" style="font-size:16px;width:80px;height:40px;">打印</button>
  <button id="print-back" style="font-size:16px;width:80px;height:40px;">返回</button>
</p>
<h2 style="width:880px;text-align:center;">内蒙古工业大学2013年度公开招聘工作人员考试报考资格审查表</h2>
<table width="880" height="146" border="1">
  <tr>
    <th width="40" height="52" align="center">姓名</th>
    <td width="141">{{ people.name }}</td>
    <th width="44" align="center">性别</th>
    <td width="50">{{ people.gender }}</td>
    <th width="36" align="center">民族</th>
    <td width="182">{{ people.nation }}</td>
    <th width="67" align="center">出生日期</th>
    <td width="160">{{ people.birthday|date:"Y/m/d" }}</td>
    <td width="120" rowspan="3">
        <img width="120px" src="{{ people.avatar }}" />
    </td>
  </tr>
  <tr>
    <th height="52" align="center">准考<br>证号</th>
    <td colspan="5">{{ people.peopleextra.ticket_number }}</td>
    <th align="center">身份证号</th>
    <td>{{ people.id_number }}</td>
  </tr>
  <tr>
    <th height="52" align="center">报考<br>岗位</th>
    <td colspan="5">{{ people.job.major }} - {{ people.job.job_type }}</td>
    <th align="center">手机号码</th>
    <td>{{ people.phone }}</td>
  </tr>
</table>
<table width="880" height="231" border="1" style="border-top:0px;">
  <tr>
    <td height="38" colspan="9" align="center" style="border-top:0px;">第一学历相关信息</td>
  </tr>
  <tr>
    <th width="77" height="33">学&nbsp;&nbsp;历</th>
    <td width="263">{{ people.first_edu_bkgrd }}</td>
    <th width="57">学&nbsp;&nbsp;位</th>
    <td width="204">{{ people.first_edu_degree }}</td>
    <th width="69">毕业院校</th>
    <td width="188">{{ people.first_edu_university }}</td>
  </tr>
  <tr>
    <th height="41">所学专业</th>
    <td colspan="3">{{ people.first_edu_major }}</td>
    <th>毕业时间</th>
    <td>{{ people.first_edu_end_year }}-{{ people.first_edu_end_month }}</td>
  </tr>
  <tr>
    <td height="32" colspan="6" align="center">最高学历相关信息</td>
  </tr>
  <tr>
    <th height="38">学&nbsp;&nbsp;历</th>
    <td>{{ people.high_edu_bkgrd }}</td>
    <th>学&nbsp;&nbsp;位</th>
    <td>{{ people.high_edu_degree }}</td>
    <th>毕业院校</th>
    <td>{{ people.high_edu_university }}</td>
  </tr>
  <tr>
    <th height="33">所学专业</th>
    <td colspan="3">{{ people.high_edu_major }}</td>
    <th>毕业时间</th>
    <td>{{ people.high_edu_edu_year }}-{{ people.high_edu_edu_month }}</td>
  </tr>
</table>
<table width="880" border="1" style="border-top:0px;">
  <tr>
    <th width="27" height="231" style="border-top:0px;">考生确认结果</th>
    <td width="855" valign="top" style="border-top:0px;">
      <table width="100%" border="0">
        <tr>
          <td colspan="2">（若考生确认以上信息真实有效，请在&quot;考生签名&quot;处签字）</td>
        </tr>
        <tr>
          <td height="300" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>考生签名：</td>
        </tr>
        <tr>
          <td width="71%">&nbsp;</td>
          <td width="29%">年&nbsp;&nbsp;月&nbsp; 日&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>招聘单位审查结果</th>
    <td><table width="100%" border="0">
      <tr>
        <td colspan="2">（招聘单位人事部门在此处填写审查结果，并加盖人事部门公章）</td>
      </tr>
      <tr>
        <td height="300" colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>（公章）</td>
      </tr>
      <tr>
        <td width="71%">&nbsp;</td>
        <td width="29%">年&nbsp;&nbsp;月&nbsp; 日&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<div>
  <span style="font-weight:bold;">注：</span>
  <span>此表中考生基本信息为网上报名初审通过后根据考生所填信息自动生成，考生自行填写无效。</span>
</div>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script>
$(function(){
	$('#print-btn').click(function(){
		$('#print-wrapper').hide();
		alert("请设置打印方向为“纵向”打印。\n\n打印前请在【文件】--->【页面设置】中将纸张分别设置为：A4纸打印，页边距设置成：上下：31.8mm，左右：25.4mm。");
	    window.print();
	});
	$('#print-back').click(function(){
		history.go(-1);
	});
})
</script>
</body>
</html>