<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>内蒙古工业大学2013年度公开招聘工作人员考试报考资格审查表</title>
<style>
table {border-collapse:collapse;}
</style>
<body>
<h2>内蒙古工业大学2013年度公开招聘工作人员考试报考资格审查表</h2>
<table width="898" height="146" border="1">
  <tr>
    <td width="40" height="36" align="center">姓名</td>
    <td width="141">{{ people.name }}</td>
    <td width="44" align="center">性别</td>
    <td width="83">{{ people.gender }}</td>
    <td width="36" align="center">民族</td>
    <td width="81">{{ people.nation }}</td>
    <td width="67" align="center">出生日期</td>
    <td width="228">{{ people.birthday|date:"Y/m/d" }}</td>
    <td width="120" rowspan="3">
        <img width="120px" src="{{ people.avatar }}" />
    </td>
  </tr>
  <tr>
    <td height="58" align="center">报考序号</td>
    <td colspan="4">&nbsp;</td>
    <td align="center">身份证号</td>
    <td colspan="2">{{ people.id_number }}</td>
  </tr>
  <tr>
    <td height="42" align="center">报考岗位</td>
    <td colspan="4">{{ people.job.major }} - {{ people.job.job_type }}</td>
    <td align="center">手机号码</td>
    <td colspan="2">{{ people.phone }}</td>
  </tr>
</table>
<table width="898" height="231" border="1">
  <tr>
    <td height="38" colspan="9" align="center">第一学历相关信息</td>
  </tr>
  <tr>
    <td width="77" height="33">学&nbsp;&nbsp;历</td>
    <td width="263">{{ people.first_edu_bkgrd }}</td>
    <td width="57">学&nbsp;&nbsp;位</td>
    <td width="204">{{ people.first_edu_degree }}</td>
    <td width="69">毕业院校</td>
    <td width="188">{{ people.first_edu_university }}</td>
  </tr>
  <tr>
    <td height="41">所学专业</td>
    <td colspan="3">{{ people.first_edu_major }}</td>
    <td>毕业时间</td>
    <td>{{ people.first_edu_end_year }}-{{ people.first_edu_end_month }}</td>
  </tr>
  <tr>
    <td height="32" colspan="6" align="center">最高学历相关信息</td>
  </tr>
  <tr>
    <td height="38">学&nbsp;&nbsp;历</td>
    <td>{{ people.high_edu_bkgrd }}</td>
    <td>学&nbsp;&nbsp; 位</td>
    <td>{{ people.high_edu_degree }}</td>
    <td>毕业院校</td>
    <td>{{ people.high_edu_university }}</td>
  </tr>
  <tr>
    <td height="33">所学专业</td>
    <td colspan="3">{{ people.high_edu_major }}</td>
    <td>毕业时间</td>
    <td>{{ people.high_edu_edu_year }}-{{ people.high_edu_edu_month }}</td>
  </tr>
</table>
<table width="898" border="1">
  <tr>
    <td width="27" height="231">考生确认结果</td>
    <td width="855" valign="top">
      <table width="100%" border="0">
        <tr>
          <td colspan="2">（若考生确认以上信息真实有效，请在&quot;考生签名&quot;处签字）</td>
        </tr>
        <tr>
          <td height="300" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>考生签名：</td>
        </tr>
        <tr>
          <td width="71%">&nbsp;</td>
          <td width="29%">年&nbsp;&nbsp;月&nbsp; 日&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>招聘单位审查结果</td>
    <td><table width="100%" border="0">
      <tr>
        <td colspan="2">（招聘单位人事部门在此处填写审查结果，并加盖人事部门公章）</td>
      </tr>
      <tr>
        <td height="300" colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>（公章）</td>
      </tr>
      <tr>
        <td width="71%">&nbsp;</td>
        <td width="29%">年&nbsp;&nbsp;月&nbsp; 日&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<div>
  <span style="font-weight:bold;">注：</span>
  <span>此表中考生基本信息为网上报名初审通过后根据考生所填信息自动生成，考生自行填写无效。</span>
</div>
<p id="print-wrapper">
  <button id="print-btn" style="font-size:16px;width:80px;height:40px;">打印</button>
  <button id="print-back" style="font-size:16px;width:80px;height:40px;">返回</button>
</p>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script>
$(function(){
	$('#print-btn').click(function(){
		$('#print-wrapper').hide();
		window.print();
	});
	$('#print-back').click(function(){
		history.go(-1);
	});
})
</script>
</body>
</html>