{% extends 'layout.html' %}

{% block content %}

<div>
  <div class="left-flow">{% include 'left-flow.html' %}</div>
  <div class="right-content right-line import-tips">
    <div>
      <h2 style="margin:20px auto;width:580px;">内蒙古工业大学公开招聘工作人员网上报名操作说明</h2>
      <h4>1 选择报名入口</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面菜单栏共有“查看招聘公告”、“登陆”、“找回密码”、“帮助”四个选项。单击“查看招聘公告”菜单可转到“人才引进”专栏查看相关人才引进政策及招聘信息；单击“登陆”将转到该系统的“登陆”页面；单击“帮助”时，将转到该网报系统的操作说明页面。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;进入该页面后左侧报名流程中所列的“选择报名入口”、“选择应聘岗位”、“填写个人信息”、“查询报名信息”及“查询报名进度”五个主要流程提示信息中，当前流程“选择报名入口”将以暗红色高亮显示。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;页面中上部分“[重要提示]”一栏列出了进行网上报名所需注意的重要事项，主要涉及本次网上报名的起止时间、操作要点等一些重要信息。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;页面中部有<img src="/static/images/shuoshirukou.jpg" border="0" /> 和 <img src="/static/images/boshirukou.jpg" border="0" />两个按钮，硕士学历应聘人员应单击“硕士报名入口”按钮，博士学历应聘人员应单击“博士报名入口”按钮。若当前处于非报名阶段，单击入选择入口按钮将给出相应的提示信息，如“当前非报名时间”。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;页面下部“[注意事项]一栏列出了使用该网上报名系统所需注意的技术方面的事项，主要涉及系统运行环境及相关设置方法等内容，请应聘人员认真阅读，并尽可能按提示进行相关设置，以保证正常使用本系统的功能。</div>
      <h4>2 服务协议</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面菜单栏设置与前述相同，不再敖述。请应聘人员认真阅读“服务协议”的具体内容。若对所列条款无异议单击页面下方<img src="/static/images/agree_go_ahead.jpg" border="0" />按钮进入“选择应聘岗位”页面；若单击<img src="/static/images/butongyi.jpg" border="0" />按钮，则视为您放弃报名。</div>
      <h4>3 选择应聘岗位</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面菜单栏设置与前述相同，不再敖述。进入该页面后左侧报名流程中所列的“选择报名入口”、“选择应聘岗位”、“填写个人信息”、“查询报名信息”及“查询报名进度”五个主要流程提示信息中，当前流程“选择应聘岗位”将以暗红色高亮显示。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面中逐条列出了相应当前学历可以申请的全部岗位信息，每条岗位信息都包括“岗位类型”、“招聘部门”、“专业需求”、“招聘人数”、“学历要求”、“申请岗位”等六个字段。其中，“岗位类型”一栏列出了该岗位所属类型（包括教师、教辅、管理人员三种）；“招聘部门”一栏列出了该岗位所属部门名称；“专业要求”一栏列出了该岗位对报名者所学专业的要求；“招聘人数”一栏列出了该岗位拟招聘的人数；“学历学位要求”一栏列出了该岗位对报名者学历及学位的要求（单击当前学历学位要求右侧的“查看详情”可以看到该岗位的其他方面的具体要求，单击详情框右上角“关闭”按钮关闭详情框）；“申请岗位”列出了申请该岗位的按钮（单击该岗位的<img src="/static/images/liji.jpg" border="0" />按钮可直接申请相应岗位，并转到“填写个人信息”页面）。</div>
      <h4>4 填写个人信息</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面菜单栏设置与前述相同，不再敖述。进入该页面后左侧报名流程中所列的“选择报名入口”、“选择应聘岗位”、“填写个人信息”、“查询报名信息”及“查询报名进度”五个主要流程提示信息中，当前流程“填写个人信息”将以暗红色高亮显示。</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;“填写个人信息”页面列出了需要应聘人员填写的各项信息。带“*”号的为必填项，必填项未全部填写的状态下不允许提交，必填项全部填写完成后方可提交。若所填信息不符合要求将给出有针对性的提示。若所填信息全部满足要求，点击“提交”按钮提交报名信息。特别注意：所填身份证号及电子邮箱提交后将不允许修改，请认真核对后再提交。信息成功提交后应点击菜单栏上的“查看报名信息”菜单进入“查询报名信息”页面认真核对所填信息是否正确，发现错误及时修改，一旦审核通过将无法修改。单击菜单栏的“查询报名进度”将转到“查询报名进度”页面。</div>
      <h4>5 查询报名进度</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;该界面菜单栏设置与前述相同，不再敖述。进入该页面后左侧报名流程中所列的“选择报名入口”、“选择应聘岗位”、“填写个人信息”、“查询报名信息”及“查询报名进度”五个主要流程提示信息中，当前流程“查询报名进度”将以暗红色高亮显示。</div>
      <div>该页面上部“[报名进度]”一栏显示出报名者当前所处的阶段，首次填写信息成功所进入该页面时“进度”的第二块高亮显示，表示当前处于“初审阶段”。当审核状态为“未审核”或“未通过审核”时，考生可以点击“查看报名信息”菜单查看已提交的信息，也可以点击“修改 报名信息”按钮返回到信息填报页面对信息进行修改，但身份证号和电子邮箱不允许修改。单击“修改密码”菜单可以对密码进行修改。另外，修改报名信息过程中应聘人员若放弃修改，则可点击“取消”按钮返回首页，已进行的修改操无效。当审核状态为“已通过初审”时，应聘人员所填写的各项信息均不再允许修改。在准考证打印期间，单击“打印资格审查表”按钮进入资格审查表的打印页面，考生在线进行资格审查表的打印，单击“打印准考证”按钮进入准号证打印页面，考生在线进行准考证的打印。特别提醒应聘人员：进行“打印资格审查表”和“打印准考证”操作时应按提示要求设置合适的纸张方向和页边距并去掉页眉面脚。</div>
      <h4>6 登录</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;报名成功后，可以凭身份证号码和报名时所填写的密码登录系统查看审核状态及准考证打印等相关操作。若不慎将密码遗忘可以凭身份证号和报名时所填写的电子邮箱找回密码。</div>
      <h4>7 特别说明</h4>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;1）进行网上报名前，请关闭拦截弹出窗口功能；</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;2）建议考生不要等到报名快截止前才扎堆提交报名表，此时由于提交量大容易造成访问过慢影响报名，一旦报名时间截止报名入口将关闭，不再接受报名；</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;3）尽量避免多人在同一台机器上报名，如需多人使用同一台机器，则应注意：一人报名完毕并安全退出系统后，第二人方可开始报名；</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;4）建议将需要大段编辑的项目先存在记事本，再粘贴到报名表中，避免由于在线编辑时间过长导致正在编辑信息的丢失；</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;5）考生在进行在线打印操作前，先设置IE浏览器的［工具］－［Internet选项］－［高级］－［打印］，将“打印背景和图像”选中，即可打印出表格线；</div>
      <div style="line-height:20px;">&nbsp;&nbsp;&nbsp;&nbsp;6）每次离开系统时，都要点击“退出”，不要直接关闭页面。</div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="std-blank-10"></div>

{% endblock %}