{% extends 'layout.html' %}

{% block content %}

<div>
  <div class="left-flow">{% include 'left-flow.html' with workflow_step=1 %}</div>
  <div class="right-content right-line import-tips">
    <div style="width:660px;margin:10px auto auto 30px;background-color:#fff;padding:10px;">
      <h3 class="std-color">[重要提示]</h3>
      <div class="notice-content">
1、网上填报信息时间：2013年6月5日09:00—2013年6月20日18:00；<br>
2、请仔细阅读 内蒙古工业大学2013年度公开招聘工作人员公告，避免造成无效报名；<br>
3、每个应聘人员只能选报一个岗位；<br>
4、提交后，所报岗位将不能更改，请慎重选择；<br>
5、报名信息提交成功后，请认真核对个人信息，发现问题及时修改，审核通过后将无法修改；<br>
6、请牢记报名时的密码，以便登录本系统进入“查询报名进度”页面进行报名进度的查询及后续准考证打印等操作；<br>
7、招聘公告及其他公示信息将在<a href="http://www.imut.edu.cn/rcyj/gkzp">http://www.imut.edu.cn/rcyj/gkzp</a>（内蒙古工业大学网站首页--->人才引进--->公开招聘）发布，请随时关注相关信息。<br>
      </div>
    </div>
    <div class="std-blank-40"></div>
    <div class="btn-group-center">
      {% if lock_status.master.is_lock %}
      <a href="javascript:void(0);" class="master-enter btn gray-btn" onclick="alert('报名已经被锁定');">硕士报名入口</a>
      {% else %}
      <a href="/protocol/1" class="master-enter btn red-btn">硕士报名入口</a>
      {% endif %}
      <!-- 是否锁定博士报名入口 -->
      {% if lock_status.doctor.is_lock %}
      <a href="javascript:void(0);" class="doctor-enter btn gray-btn" onclick="alert('报名已经被锁定');">博士报名入口</a>
      {% else %}
      <a href="/protocol/2" class="doctor-enter btn">博士报名入口</a>
      {% endif %}
    </div>
    <div style="width:700px;margin:0px auto auto 50px;font-size:12px;margin-top:60px;line-height:18px;">
      <h4 class="std-color" style="margin:0px;">[注意事项]</h4>
      <div>
1、使用IE5.5以上版本的浏览器，推荐使用IE6、IE7或IE8，其它的浏览器可能不能正常使用本系统；<br>
2、请关闭或去掉有窗口拦截功能的软件,另windows XP sp2的用户请关闭“弹出窗口阻止程序”。(关闭方法：打开Internet Explorer，在“工具”菜单中，指向“弹出窗口阻止程序”，然后单击“关闭弹出窗口阻止程序”即可)；<br>
3、报名过程中遇到无法提交报名信息请与服务人员联系，电话：0471-6575701。<br>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="std-blank-10"></div>

{% endblock %}