{% extends 'm_layout.html' %}

{% block content %}

<style>
table {border-collapse: collapse;border:1px solid #cfcfcf;}
table td {border:1px solid #cfcfcf;}
</style>

<div class="content-container">
  {% if message %}
  <h4>{{ message }}</h4>
  {% endif %}
  <div>
    <h3>导出各种表格</h3>
  </div>
  <div style="float:left;width:200px;">
    <ul style="">
      <li style="line-height:30px;"><a href="/management/export/passed/">导出审核通过名单</a></li>
    </ul>
  </div>
  <div style="float:left;margin-left:50px;">
    <div id="notice-text"></div>
  </div>
  <div style="clear:both;"></div>
</div>

{% endblock %}