<!DOCTYPE html>
<html>
<head>
  <title>Administrator</title>
  <link rel="stylesheet" href="/static/css/admin.css" type="text/css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/management/">Welcome</a></li>
          <li><a href="/management/job/">岗位管理</a></li>
          <li><a href="/management/elementary/">硕士研究生初审</a></li>
          <li><a href="/management/passwd/">修改密码</a></li>
          <li><a href="/management/logout/">退出</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% block content %}
{% endblock %}

<script src="/static/js/jquery-1.9.1.min.js"></script>
{% block js_block %}
{% endblock %}
</body>
</html>
