{% extends 'm_layout.html' %}

{% block content %}

<div class="content-container">
{% if message %}
<p>{{ message }}</p>
{% endif %}

<h3>搜索</h3>
<p>
  <form action="/management/plist/search/" method="post">
    <table>
      <tr>
        <td>身份证号</td>
        <td>{{ psForm.id_number }}</td>
        <td>姓名</td>
        <td>{{ psForm.name }}</td>
        <td>性别</td>
        <td>{{ psForm.gender }}</td>
        <td>招聘部门</td>
        <td>{{ psForm.department }}</td>
        <td>专业</td>
        <td>{{ psForm.major }}</td>
        <td>
          {% csrf_token %}
          <input type="submit" name="submit" value="搜索" />
        </td>
      </tr>
    </table>
  </form>
</p>

{% if peoples %}
<table border="1" width="900">
  <tr>
    <td width="60"></td>
    <td>应聘岗位</td>
    <td>毕业院校</td>
    <td>所学专业</td>
    <td>姓名</td>
    <td>状态</td>
    <td width="160"></td>
  </tr>
  {% for people in peoples %}
  <tr>
    <td>
      <span>{{ forloop.counter }}</span>
    </td>
    <td>{{ people.job }}</td>
    <td>{{ people.high_edu_university }}</td>
    <td>{{ people.high_edu_major }}</td>
    <td>{{ people.name }}</td>
    <td>
      {% if people.audit_step < 1 %}
      <span>未审核</span>
      {% elif people.audit_step == 1 %}
      <span>通过审核</span>
      {% elif people.audit_step == 7 %}
      <span>未通过审核</span>
      {% elif people.audit_step == 8 %}
      <span>不合格</span>
      {% endif %}
    </td>
    <td>
      <a href="/management/audit/{{ people.id }}">修改审核</a>&nbsp;
      <a href="/management/people/{{ people.id }}">查看详细信息</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</div>

{% endblock %}
