{% extends 'm_layout.html' %}

{% block content %}

<style>
table {border-collapse: collapse;border:1px solid #cfcfcf;}
table td {border:1px solid #cfcfcf;}
</style>

<div class="content-container">
  {% if message %}
  <h4>{{ message }}</h4>
  {% endif %}
  <div>
    <h3>各岗位报考情况</h3>
  </div>
  <div style="clear:both;"></div>
  {% if jobs %}
  <table>
    <tr>
      <td>序号</td>
      <td>招聘部门</td>
      <td>专业要求</td>
      <td>学历要求</td>
      <td>岗位类别</td>
      <td>计划人数</td>
      <td>报考人数</td>
      <td>招考比例</td>
      <td>是否开考</td>
    </tr>
    {% for job in jobs %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ job.department }}</td>
      <td>{{ job.major }}</td>
      <td>{{ job.degree_limit }}</td>
      <td>{{ job.job_type }}</td>
      <td>{{ job.count }}</td>
      <td>{{ job.count_apply }}</td>
      <td>{{ job.rate }}</td>
      <td>{% if job.rate >= '1:3' %}是{% else %}否{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

{% endblock %}