{% extends 'layout.html' %}

{% block content %}

<div>
  <div class="left-flow">{% include 'left-flow.html' %}</div>
  <div class="right-content right-line">
    <table width="100%">
      <tr>
        <td>
          <table>
            <tr>
              <td align="right" width="150" class="field-name">岗位</td>
              <td>{{ people.job }}</td>
            </tr>
            <tr>
              <td align="right" class="field-name">身份证号</td>
              <td>
                {{ people.id_number }}
              </td>
            </tr>
            <tr>
              <td align="right" class="field-name">电子邮件</td>
              <td>
                {{ people.email }}
              </td>
            </tr>
          </table>
        </td>
        <td width="110">
          <div>
            <img src="{% if people.avatar %}{{people.avatar}}{% else %}/static/images/blank_picture.jpg{% endif %}" width="100" id="avatar_thumb" />
          </div>
        </td>
      </tr>
    </table>
    <div class="block-title">[个人信息]</div>
    <table width="100%" bgcolor="#b3c8e3">
      <tr>
        <td align="right" width="120" class="field-name">姓名</td>
        <td>{{ people.name }}</td>
        <td align="right" width="150" class="field-name">性别</td>
        <td>
          {{ people.gender }}
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">民族</td>
        <td>{{ people.nation }}</td>
        <td align="right" class="field-name">出生年月</td>
        <td>
          {{ people.birthday|date:"Y-m-d" }}
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">户口所在地</td>
        <td id="residence">
          {{ people.residence_prov }}
          {{ people.residence_city }}
        </td>
        <td align="right" class="field-name">籍贯</td>
        <td id="hometown">
          {{ people.hometown_prov }}
          {{ people.hometown_city }}
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">婚姻状况</td>
        <td>{{ people.marital_status }}</td>
        <td align="right" class="field-name">外语及水平</td>
        <td>{{ people.foreign_language_level }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">政治面貌</td>
        <td>{{ people.political_status }}</td>
        <td align="right" class="field-name">选择初试作答文字</td>
        <td>{{ people.test_paper_language }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">参加工作时间</td>
        <td>
          {{ people.start_work_year }}年
          {{ people.start_work_month }}月
        </td>
        <td align="right" class="field-name">手机</td>
        <td>{{ people.phone }}{{ people.phone.errors }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">其他联系方式</td>
        <td>{{ people.other_contact }}</td>
        <td align="right" class="field-name">计算机等级</td>
        <td>
          {{ people.compute_level }}
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">是否蒙汉兼通</td>
        <td>{{ people.is_han_mongolia_both }}</td>
        <td align="right" class="field-name">是否服务基层项目人员</td>
        <td>{{ people.is_basic_attendant }}</td>
      </tr>
    </table>
    <div class="block-title">[学历信息]</div>
    <table width="100%" bgcolor="#b3c8e3">
      <tr>
        <td rowspan="3" valign="top" width="80">
          <div style="margin-top:4px;width:80px;">第一学历</div>
        </td>
        <td align="right" width="70" class="field-name">起始时间</td>
        <td width="330">
          {{ people.first_edu_start_year }}年 {{ people.first_edu_start_month }}月
        </td>
        <td align="right" width="70" class="field-name">结束时间</td>
        <td>
          {{ people.first_edu_end_year }}年 {{ people.first_edu_end_month }}月
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">获得学位</td>
        <td>{{ people.first_edu_degree }}</td>
        <td align="right" class="field-name">获得学历</td>
        <td>{{ people.first_edu_bkgrd }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">毕业院校</td>
        <td>{{ people.first_edu_university }}</td>
        <td align="right" class="field-name">所学专业</td>
        <td>{{ people.first_edu_major }}</td>
      </tr>
    </table>
    <table width="100%">
      <tr>
        <td rowspan="3" valign="top" width="80">
          <div style="margin-top:4px;width:80px;">最高学历</div>
        </td>
        <td align="right" width="70" class="field-name">起始时间</td>
        <td width="330">
          {{ people.high_edu_start_year }}年 {{ people.high_edu_start_month }}月
          
        </td>
        <td align="right" width="70" class="field-name">结束时间</td>
        <td>
          {{ people.high_edu_edu_year }}年
          {{ people.high_edu_edu_month }}月
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">获得学位</td>
        <td>{{ people.high_edu_degree }}</td>
        <td align="right" class="field-name">获得学历</td>
        <td>{{ people.high_edu_bkgrd }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">毕业院校</td>
        <td>{{ people.high_edu_university }}</td>
        <td align="right" class="field-name">所学专业</td>
        <td>{{ people.high_edu_major }}</td>
      </tr>
    </table>
    <table width="100%" bgcolor="#b3c8e3">
      <tr>
        <td rowspan="4" valign="top" width="80">
          <div style="margin-top:4px;width:80px;">其他学习</div>
        </td>
        <td align="right" width="70" class="field-name">起始时间</td>
        <td width="330">
          {% if people.other_edu_start_year %}
          {{ people.other_edu_start_year }}年 {{ people.other_edu_start_month }}月
          {% endif %}
        </td>
        <td align="right" width="70" class="field-name">结束时间</td>
        <td>
          {% if people.other_edu_edu_year %}
          {{ people.other_edu_edu_year }}年 {{ people.other_edu_edu_month }}月
          {% endif %}
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">获得学位</td>
        <td>{{ people.other_edu_degree }}</td>
        <td align="right" class="field-name">获得学历</td>
        <td>{{ people.other_edu_bkgrd }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">学习单位</td>
        <td>{{ people.other_edu_unit }}</td>
        <td align="right" class="field-name">所学专业</td>
        <td>{{ people.other_edu_major }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">学习形式</td>
        <td>{{ people.other_edu_type }}</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table width="100%"{% if not people.other_edu_start_year_2 %} style="display:none;"{% endif %}>
      <tr>
        <td rowspan="4" valign="top" width="80">
          <div style="margin-top:4px;width:80px;">其他学习</div>
        </td>
        <td align="right" width="70" class="field-name">起始时间</td>
        <td width="330">
          {{ people.other_edu_start_year_2 }}年 {{ people.other_edu_start_month_2 }}月
        </td>
        <td align="right" width="70" class="field-name">结束时间</td>
        <td>
          {{ people.other_edu_edu_year_2 }}年 {{ people.other_edu_edu_month_2 }}月
        </td>
      </tr>
      <tr>
        <td align="right" class="field-name">获得学位</td>
        <td>{{ people.other_edu_degree_2 }}</td>
        <td align="right" class="field-name">获得学历</td>
        <td>{{ people.other_edu_bkgrd_2 }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">学习单位</td>
        <td>{{ people.other_edu_unit_2 }}</td>
        <td align="right" class="field-name">所学专业</td>
        <td>{{ people.other_edu_major_2 }}</td>
      </tr>
      <tr>
        <td align="right" class="field-name">学习形式</td>
        <td>{{ people.other_edu_type_2 }}</td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <div class="block-title">[其他信息]</div>
    <div style="margin:5px 0px;" class="field-name">个人特长及奖惩情况</div>
    <div>
      {{ people.special_skill }}
    </div>
    <div class="block-title">[资格信息]</div>
    <table width="100%" bgcolor="#b3c8e3">
      <tr>
        <td align="right" width="120" class="field-name">专业技术资格</td>
        <td>{{ people.technical_qualification }}</td>
      </tr>
    </table>
    <table width="100%">
      <tr>
        <td align="right" width="120" class="field-name">执业资格</td>
        <td colspan="3">{{ people.operation_qualification }}</td>
      </tr>
    </table>
    <table width="100%" bgcolor="#b3c8e3">
      <tr>
        <td align="right" width="120" class="field-name">其他资格</td>
        <td colspan="3">{{ people.other_qualification }}</td>
      </tr>
    </table>
    <div class="std-blank-10"></div>
    <div class="btn-group-center">
    
      {% if not people.audit_step or people.audit_step == 7 %}
      <form action="/edit/" method="post" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="people_id" value="{{ people.id }}" />
        <input type="hidden" name="id_number" value="{{ people.id_number }}" />
        <input type="submit" name="submit" value="修改" class="btn" />
      </form>
      {% endif %}
      <a href="/" class="btn gray-btn">返回</a>
    </div>
      
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
